$side-track-collapsed-width: 0px;
$side-track-expanded-width: 400px;

$main-track-max-width: 980px;

.projects-page-layout {
  @include flex;
  @include box-size-border-box;
  width: 100%;
  margin: $navbar-height auto 0 auto;
}

.side-track {
  /* 
    Since this will be removed from the flow of the page,
    we need to create a gap to the left of the main track
  */
  @include box-size-border-box;
  @include box-shadow(1px, 0px, 8px, 2px, rgba(25, 25, 25, 0.2));
  background-color: $blue-grey-50;
  position: fixed;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
  width: $side-track-expanded-width;

  & > .inner-wrapper {
    width: 100%;
  }
}

.main-track {
  /* 
    Since the sidebar is removed from the flow of the page,
    we need to create a margin-based gap to compensate for the element size
  */
  @include transition(0.4s);
  margin-left: $side-track-expanded-width;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
  opacity: 0;
  width: calc(100% - #{$side-track-expanded-width});

  & > .inner-wrapper {
    padding: 20px;
    margin: 0 auto;
    max-width: 980px; width: 100%;

    &.full-width { max-width: 100%; }
    &.no-padding { padding: 0px !important; }
  }

  /* PAGE BOTTOM SPACING */
  & > *:last-child {
    margin-bottom: 100px;
  }

  &.show {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .projects-page-layout {
    @include flex-column;
  }

  .side-track {
    @include flex;
    position: relative;
    height: 100px;
    overflow-x: scroll;
    min-width: 100%;

    & > .inner-wrapper {
      min-width: $side-track-expanded-width;
      max-width: $side-track-expanded-width;
    }
  }

  .main-track {
    background-color: $blue-grey-50;
    width: 1000px;
    // margin-left: 0;
    margin: 0 auto;
  }
}

/* Responsive Work - Move this to individual files as we grow */
/* Viewport, right after iPad */
@media (max-width: 1023px) {
}

/* iPad Portrait */
@media (max-width: 768px) {
}

/* Right after iPad Portrait */
@media (max-width: 767px) {
}

/* Mobile XL Portrait */
@media (max-width: 425px) {
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
}
