/* BLOG LIST ITEM VALUES */

$blog-list-item-image-margin: 6px;
$blog-list-item-image-width: 768px;

$blog-list-item-vertical-margin: 10px;


.blog-list-item {
  @include flex; @include flex-column;
  @include jumbotron-background-vert(0.0);
  border-bottom: 2px solid $blue-grey-200;
  margin: 0;
  text-decoration: none;

  &.loading {
    height: 80vh;
  }

  &:hover {
    @include box-shadow(0px, 0px, 8px, 0.2px, rgba(25, 25, 25, 0.3));
    @include jumbotron-background-vert(0.40);
  }
}

/* RESET <a> TAG COLORS BACK TO WEBSITE DEFAULT DARK */
.blog-list-item > * {
  @include transition(0.2s);
  color: $blue-grey-900;
  margin-right: $blog-list-item-image-margin;
  margin-left: $blog-list-item-image-margin;

  &:last-child {
    margin-bottom: 20px;
  }
}

.blog-list-item > .image {
  @include transition(0.2s);
  background-color: $grey-900 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  margin: $blog-list-item-image-margin;
  opacity: 0.8;
  height: 436px; width: $blog-list-item-image-width;

  &:hover {
    @include box-shadow(1px, 1px, 4px, 0.2px, rgba(25, 25, 25, 0.8));
    opacity: 1;
  }
}

/* INDIVIDUAL TITLE PROPERTIES */
.blog-list-item > h1 {
  font-size: 56px;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    color: $amber-900;
  }

  &:active {
    color: $blue-grey-900;
  }

  &:visted {
    color: $indigo-500;
  }
}
.blog-list-item > h2 {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    color: $amber-900;
  }

  &:active {
    color: $blue-grey-900;
  }

  &:visted {
    color: $indigo-500;
  }
}
.blog-list-item > h3 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    color: $amber-900;
  }

  &:active {
    color: $blue-grey-900;
  }

  &:visted {
    color: $indigo-500;
  }
}
.blog-list-item > h4 {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    color: $amber-900;
  }

  &:active {
    color: $blue-grey-900;
  }

  &:visted {
    color: $indigo-500;
  }
}

.blog-list-item > p {
  font-size: 16px;
}

.blog-list-item > .published-wrapper {
  & > .title {
    font-size: 16px; font-weight: 900;
    margin-right: 10px;
  }
}

.blog-list-item > .categories-wrapper, .blog-list-item > .tags-wrapper {
  & > .title {
    font-size: 16px; font-weight: 900;
  }
  & > ul {
    list-style: none;
    margin: 6px 0;
  }
  & > ul > li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}