$footer-height: 60px;
$footer-padding-dimension: 12px;

$footer-inner-wrapper-padding: 40px;

.footer-wrapper {
  @include flex;
  height: $footer-height; width: 100%;
  padding: $footer-padding-dimension 0;
  top: 0;
  z-index: 1000;

  &.cosbytes-background {
    background-color: $cosbytes-blue;
  }
}

.footer-inner-wrapper {
  @include flex; @include align-center; @include justify-center;
  @include box-size-border-box;
  color: white;
  font-size: 14px;
  height: 100%; width: 100%;
  padding: 0 $footer-inner-wrapper-padding;
}