$navbar-height: 60px;
$navbar-padding-dimension: 12px;
$navbar-shadow-veritical: 5px;
$navbar-shadow-blur: 10px;
$navbar-shadow-color: rgba(25, 25, 25, 0.2);

$navbar-inner-wrapper-padding: 40px;

.navbar-wrapper {
  @include flex;
  @include box-shadow(0px, $navbar-shadow-veritical, $navbar-shadow-blur, 0px, $navbar-shadow-color);
  height: $navbar-height; width: 100%;
  padding: $navbar-padding-dimension 0;
  position: fixed;
  top: 0;
  z-index: 1000;

  &.cosbytes-background {
    background-color: $cosbytes-blue;
  }
}

.navbar-inner-wrapper {
  @include flex; @include align-center; @include justify-between;
  @include box-size-border-box;
  height: 100%; width: 100%;
  padding: 0 $navbar-inner-wrapper-padding;
}

.navbar-inner-wrapper > .logo {
  font-size: 24px;
}