$navbar-height: 60px;
$navbar-padding-dimension: 12px;
$navbar-inner-wrapper-padding: 40px;

.navbar-wrapper {
  @include flex;
  height: $navbar-height; width: 100%;
  padding: $navbar-padding-dimension 0;

  &.cosbytes-background {
    background-color: $cosbytes-blue;
  }
}

.navbar-inner-wrapper {
  @include flex; @include align-center; @include justify-between;
  @include box-size-border-box;
  height: 100%; width: 100%;
  padding: 0 $navbar-inner-wrapper-padding;
}

.navbar-inner-wrapper > .logo {
  font-size: 24px;
}