$navbar-height: 60px;
$navbar-padding-dimension: 12px;
$navbar-shadow-veritical: 1.5px;
$navbar-shadow-blur: 3px;
$navbar-shadow-color: rgba(25, 25, 25, 0.4);

$navbar-inner-wrapper-padding: 40px;

.navbar-wrapper {
  @include flex;
  @include box-shadow(0px, $navbar-shadow-veritical, $navbar-shadow-blur, 0px, $navbar-shadow-color);
  height: $navbar-height; width: 100%;
  padding: $navbar-padding-dimension 0;
  position: fixed;
  top: 0;
  z-index: 1000;

  &.cosbytes-background {
    background-color: $cosbytes-blue;
  }
}

.navbar-inner-wrapper {
  @include flex; @include align-center; @include justify-between;
  @include box-size-border-box;
  height: 100%; width: 100%;
  padding: 0 $navbar-inner-wrapper-padding;
}
.navbar-inner-wrapper > .logo, .navbar-inner-wrapper > .logo > a {
  @include transition(0.2s);
  cursor: pointer;
  color: $blue-grey-100;
  font-size: 24px; font-weight: 500;
  text-decoration: none;

  &:hover {
    text-shadow: 2px 2px 6px rgba(25, 25, 25, 0.5);
    color: $blue-grey-50;
  }

  &:active {
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.5);
    color: $amber-500;
  }
}

.navbar-inner-wrapper > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-inner-wrapper > ul > li > a {
  @include transition(0.2s);
  cursor: pointer;
  color: $blue-grey-100;
  font-size: 16px; font-weight: 500;
  text-decoration: none;

  &:hover {
    text-shadow: 2px 2px 6px rgba(25, 25, 25, 0.5);
    color: $blue-grey-50;
  }

  &:active {
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.5);
    color: $amber-500;
  }
}