.projects-list-item {
  @include transition(0.2s);
  cursor: pointer;
  background-color: $blue-grey-50;
  border-bottom: 1px solid rgba(175, 175, 175, 0.5);
  height: 220px;
  overflow: hidden;

  &:hover {
    background-color: white;
  }
  
  &.selected {
    background-color: $amber-300;
  }
  
  &:active {
    background-color: $amber-500;
  }
}

.list-item-split-wrapper {
  @include transition(0.2s);
  @include flex; @include align-center; @include justify-between;
  height: 100%;

  & > h4 {
    font-size: 24px; font-weight: 500; line-height: 1;
    max-width: 50%;
    margin: 0;
    padding: 0 0 0 20px;
  }
}

.list-item-image-wrapper {
  // @include jumbotron-background;\
  @include transition(0.2s);
  overflow: hidden;
  height: 100%; width: 50%; max-width: 50%;
  padding: 20px;

  & > .image {
    @include transition(0.2s);
    @include box-shadow(1px, 1px, 2px, 0px, rgba(50, 50, 50, 0.6));
    height: 100%; width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);

    &:hover {
      @include box-shadow(2px, 2px, 4px, 1px, rgba(50, 50, 50, 0.6));
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}


@media (max-width: 2560px) {
  .projects-list-item {
    height: 160px;
  }
}

@media (max-width: 1920px) {
  .projects-list-item {
    height: 140px;
  }
}

@media (max-width: 1440px) {
  .list-item-image-wrapper {
    padding: 10px 20px;
  }

  .list-item-split-wrapper > h4 {
    font-size: 20px;
  }

  .projects-list-item {
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .list-item-split-wrapper > h4 {
    font-size: 18px;
  }
}

/* Responsive Work - Move this to individual files as we grow */
/* Viewport, right after iPad */
@media (max-width: 1023px) {
}

/* iPad Portrait */
@media (max-width: 768px) {
}

/* Right after iPad Portrait */
@media (max-width: 767px) {
}

/* Mobile XL Portrait */
@media (max-width: 425px) {
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
}
