.projects-list-item {
  @include transition(0.2s);
  cursor: pointer;
  height: 150px;
  border-bottom: 1px solid rgba(175, 175, 175, 0.5);

  &:hover {
    background-color: white;
  }
  
  &.selected {
    background-color: $amber-300;
  }
  
  &:active {
    background-color: $amber-500;
  }
}

.list-item-split-wrapper {
  @include flex; @include align-center; @include justify-between;
  height: 100%;

  & > h4 {
    font-size: 24px; font-weight: 500;
    margin: 0 0 0 20px;
  }

  & > img {
    width: 50%;
    height: auto;
  }
}

.list-item-image-wrapper {
  // @include jumbotron-background;
  overflow: hidden;
  height: 100%; width: 50%;

  & > .image {
    @include transition(0.2s);
    height: 100%; width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);

    &:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}

@media (max-width: 1440px) {

}

/* Responsive Work - Move this to individual files as we grow */
/* Viewport, right after iPad */
@media (max-width: 1023px) {
  .projects-list-item {
    height: 100px;
  }
}

/* iPad Portrait */
@media (max-width: 768px) {
}

/* Right after iPad Portrait */
@media (max-width: 767px) {
}

/* Mobile XL Portrait */
@media (max-width: 425px) {
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
}
