$project-pictures-height: 500px;

/* TITLE */
.project-title-wrapper {
  @include flex; @include align-center; @include justify-between;
  height: 250px;
  overflow: hidden;

  & > h1 {
    color: $blue-grey-900;
    font-size: 96px;
    margin: 36px 0;
  }
  & > h2 {
    font-size: 88px;
    margin: 32px 0;
  }
  & > h3 {
    font-size: 80px;
    margin: 28px 0;
  }
  & > h4 {
    font-size: 72px;
    margin: 24px 0;
  }

  &.col { @include flex-column; }
}

/* STACK TECH LABEL */
ul.project-tech-wrapper {
  @include flex; @include align-center;
  box-shadow: inset 0px 0px 10px $blue-grey-900;
  background-color: $blue-grey-500;
  border-radius: 4px;
  height: 48px;
  list-style: none;
  padding: 0 0 0 20px;
}
ul.project-tech-wrapper > li {
  
  margin-right: 20px;

  & > label { @include flex; @include align-center; @include justify-center; }
  & > label > img {
    @include transition(0.2s);
    height: 24px; width: 24px;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(100, 100, 100, 0.4));
    filter: drop-shadow(1px 1px 1px rgba(100, 100, 100, 0.4));

    &:hover {
      -webkit-filter: drop-shadow(1px 1px 1px rgba(50, 50, 50, 0.6));
      filter: drop-shadow(1px 1px 1px rgba(50, 50, 50, 0.6));
    }
  }
}

/* SPLIT LAYOUT WRAPPER */
.project-split-wrapper {
  @include flex; @include justify-between;
  padding: 40px 0;

  &.ac { @include align-center; }
}

/* LINKS */
.project-links-wrapper {
  @include flex; @include flex-column;
  min-width: 50%;
  margin-right: 10px;
}

/* LINK LINE */
.project-links-wrapper > .link-line {
  @include flex; @include align-center;
  margin-bottom: 5px;
  
  & > i {
    color: $blue-grey-900;
    font-size: 20px;
    margin-right: 10px;
  }
  
  & > a {
    @include transition(0.2s);
    font-size: 16px;

    &:hover {
      color: $amber-900;
    }

    &:active {
      color: $blue-grey-900;
    }

    &:visted {
      color: $indigo-500;
    }
  }
}

/* CONTRIBUTORS */
.project-contributors-wrapper {
  @include flex; @include flex-column;
  margin-left: 10px;

  & > h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  & > ul {
    padding: 0;
    margin: 0;
  }
  & > ul > li {
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0px;
    }
  }
}

/* DESCRIPTION */
.project-description-wrapper {
  color: $blue-grey-900;
  font-size: 16px; font-weight: 500;
  padding: 20px 0;
}

/* IMAGE CAROUSEL OVERRIDES */
.carousel .slide .legend {
  border-radius: 4px;
}
.carousel.carousel-slider .control-arrow {
  padding: 20px !important;
}


@media (max-width: 2560px) {
  .project-title-wrapper {
    height: 160px;

    & > h1 {
      color: $blue-grey-900;
      font-size: 64px;
      margin: 36px 0;
    }
    & > h2 {
      font-size: 56px;
      margin: 32px 0;
    }
    & > h3 {
      font-size: 48px;
      margin: 28px 0;
    }
    & > h4 {
      font-size: 36px;
      margin: 24px 0;
    }
  }
}

@media (max-width: 1920px) {
  .project-title-wrapper {
    height: 140px;

    & > h1 {
      color: $blue-grey-900;
      font-size: 48px;
      margin: 36px 0;
    }
    & > h2 {
      font-size: 40px;
      margin: 32px 0;
    }
    & > h3 {
      font-size: 32px;
      margin: 28px 0;
    }
    & > h4 {
      font-size: 24px;
      margin: 24px 0;
    }
  }
}


@media (max-width: 1440px) {
  .project-title-wrapper {
    height: 120px;
  }
}

/* Responsive Work - Move this to individual files as we grow */
/* Viewport, right after iPad */
@media (max-width: 1023px) {
  .project-title-wrapper {}
}

/* iPad Portrait */
@media (max-width: 768px) {
  .project-title-wrapper {}
}

/* Right after iPad Portrait */
@media (max-width: 767px) {
  .project-title-wrapper {}
}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  .project-title-wrapper {}
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
  .project-title-wrapper {}
}
