$skill-carousel-height: 450px;

.skill-carousel-wrapper {
  @include flex; @include flex-column;
  // border-bottom: 1px solid rgba(150, 158, 174, 0.6);
  overflow: hidden;
  @include box-shadow(0px, $navbar-shadow-veritical, $navbar-shadow-blur, 0px, $navbar-shadow-color);
  height: $skill-carousel-height; width: 100%;
}

.skill-carousel-container {
  @include flex;
  @include transition(0.2s);
  
  @include box-size-border-box;
  height: $skill-carousel-height; width: 100%;
}

.skill-card {
  @include flex;
  @include flex-column;
  @include align-center;
  @include transition(0.4s);
  color: $blue-grey-900;
  justify-content: space-evenly;
  min-width: calc(100% / 3);
  height: $skill-carousel-height;

  &:hover {
    background-color: $blue-grey-100;

    .skill-card-image {
      height: 110px;
    }

  }
}

.skill-card-title {
  font-size: 24px;
  margin: 0;
}

.skill-card-image {
  @include transition(0.2s);
  height: 100px;
  margin: 2% 0;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(50, 50, 50, 0.6));
  filter: drop-shadow(4px 4px 4px rgba(50, 50, 50, 0.6));
}

.skill-card-description {
  @include flex;
  @include flex-column;
  @include align-center;
  font-size: 16px;
  font-weight: 500;
}

/* 

  Skill Carousel control box styles

*/

.skill-control-box {
  @include flex;
  justify-content: space-between;
  pointer-events: none;
  transform: translate(0, -100%);
}

.control {
  @include flex;
  @include align-center;
  @include justify-center;
  @include transition(0.2s);
  cursor: pointer;
  color: $blue-grey-200;
  font-size: 32px;
  opacity: 0.4;
  pointer-events: auto;
  height: $skill-carousel-height; width: 100px;
  z-index: 1;

  &:hover {
    opacity: 1.0;
    color: $blue-grey-50;
  }

  &:active {
    font-size: 40px;
  }
}

.control-right {
  background: linear-gradient(to left, rgba(0, 122, 193, 1.0) 0%, rgba(75, 75, 75, 0.0) 100%);
  &:hover {
    text-shadow: 3px 3px 4px rgba(50, 50, 50, 0.6);
  }
}

.control-left {
  background: linear-gradient(to right, rgba(0, 122, 193, 1.0) 0%, rgba(75, 75, 75, 0.0) 100%);
  &:hover {
    text-shadow: 3px 3px 4px rgba(50, 50, 50, 0.6);
  }
}