/* MAIN PAGE LAYOUT VALUES */
/**
 * These values must be the same as the "$navbar-height" values found within:
 * 
 *    /client/sass/components/_jumbotron.scss
 * 
 */
$blog-layout-navbar-margin-full: 80px; 
$blog-layout-navbar-margin-2560: 70px;
$blog-layout-navbar-margin-1920: 60px;
$blog-layout-navbar-margin: 50px;

$blog-page-inner-wrapper-max-width: 1100px; 

$blog-meta-wrapper-height: 100px;

$blog-main-track-width: 780px;
$blog-main-track-margin: 6px;
$blog-main-track-image-width: 768px;

$blog-side-track-width: 300px;
$blog-side-track-inner-wrapper-width: 288px;
$blog-side-track-margin: 320px;

$blog-bottom-spacer-height: 75px;

/* BLOG VIEW WRAPPER */
.blog-view-wrapper {
  @include jumbotron-background;
  @include flex; @include flex-column;
  @include box-size-border-box;
  width: 100%;
  margin: $blog-layout-navbar-margin-full auto 0 auto;
}

/* BLOG VIEW INNER WRAPPER */
.blog-view-wrapper > .inner-wrapper {
  @include box-size-border-box;
  max-width: $blog-page-inner-wrapper-max-width; width: 100%;
  margin: 0 auto;
}

/* BLOG TITLE WRAPPER */
.blog-title-wrapper {
  // background-color: $blue-grey-200;
  width: 100%;

  & > * {
    line-height: 1;
    color: $blue-grey-900;
  }

  & > h1 {
    font-size: 56px;
    margin-bottom: 0px
  }
  & > h2 {
    font-size: 48px;
  }
  & > h3 {
    font-size: 40px;
  }
  & > h4 {
    font-size: 32px;
  }
}

/* BLOG META WRAPPER */
.blog-meta-wrapper {
  @include flex; @include align-center; @include justify-between;
  // background-color: $blue-grey-300;
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
/* --- AUTHOR BLOCK WRAPPER */
.author-block-wrapper {
  @include flex; @include align-center;
}
.author-block-wrapper > .avatar {
  height: 48px; width: 48px;
  border-radius: 50%;
  background-color: $blue-grey-500;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}
.author-block-wrapper > .author-info-block {
  @include flex; @include flex-column;
  margin-left: 10px;

  & > .name {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
  }
}

/* --- FILTER BREADCRUMB WRAPPER */
.filter-breadcrumb-wrapper {
  @include flex; @include align-center;
}
.filter-breadcrumb-wrapper > h4 {
  font-size: 18px;
}
.filter-breadcrumb-wrapper > span {
  margin: 0 10px;
}

/* BLOG CONTENT WRAPPER */
.blog-content-wrapper {
  @include flex; @include flex-wrap(no-wrap);
  position: relative;
}

/* BLOG MAIN TRACK */
#blog-main-track {
  @include flex; @include flex-column;
  // background-color: $blue-grey-500;
  margin-right: 0;
  width: $blog-main-track-width;
}
/* BLOG MAIN TRACK TITLE */
#blog-main-track > h1 {
  line-height: 1;
  font-size: 32px;
  margin-top: 0px;
}
/* BLOG MAIN TRACK IMAGE CONTAINER */
#blog-main-track > figure {
  width: $blog-main-track-image-width;
  margin: 0 $blog-main-track-margin;
}
/* BLOG MAIN TRACK PARAGRAPH */
#blog-main-track > p {
  margin-bottom: 40px;
  margin-top: 0px;
  line-height: 1.3;
  font-size: 18px; letter-spacing: 0.3px;
}
/* BLOG MAIN TRACK IMAGE */
#blog-main-track > figure {
  margin-bottom: 20px;
}
#blog-main-track > p > img, #blog-main-track > figure > img {
  width: $blog-main-track-image-width;
}

/* BLOG SIDE TRACK */
#blog-side-track {
  // background-color: $blue-grey-200;
  width: $blog-side-track-width; 
  position: absolute;
  right: 0;
}

#blog-side-track > * {
  margin-top: 20px;

  &:first-child {
    margin-top: 0px;
  }
}

/* BLOG SIDE TRACK INNER WRAPPER */
#blog-side-track > .inner-wrapper {
}

/* BLOG BOTTOM SPACER */
.blog-bottom-spacer {
  height: $blog-bottom-spacer-height; width: 100%;
}

/* RESPONSIVE STYLES */
@media (max-width: 2560px) {
  .blog-view-wrapper {
    margin: $blog-layout-navbar-margin-2560 auto 0 auto;
  }
}

/* 1920 x 1080 support */
@media (max-width: 1920px) {
  .blog-view-wrapper {
    margin: $blog-layout-navbar-margin-1920 auto 0 auto;
  }
}

/* 1440 x 900 support */
@media (max-width: 1440px) {
  .blog-view-wrapper {
    margin: $blog-layout-navbar-margin auto 0 auto;
  }
}

/* Viewport, right after iPad */
@media (max-width: 1023px) {
  
}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {

}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {

}
