/* MAIN PAGE LAYOUT VALUES */
/**
 * These values must be the same as the "$navbar-height" values found within:
 * 
 *    /client/sass/components/_navbar.scss
 * 
 */
$projects-layout-navbar-padding-full: 80px; 
$projects-layout-navbar-padding-2560: 70px;
$projects-layout-navbar-padding-1920: 60px;
$projects-layout-navbar-padding: 50px;


$side-track-collapsed-width: 0px;
$side-track-expanded-width-full: 600px;
$side-track-expanded-width-2560: 480px;
$side-track-expanded-width-1920: 400px;
$side-track-expanded-width-1440: 350px;
$side-track-expanded-width-1024: 300px;
$side-track-expanded-width: 375px;

$side-track-item-mobile-small: 350px;

$main-track-max-width: 980px;

.projects-page-layout {
  @include flex;
  @include box-size-border-box;
  margin: $projects-layout-navbar-padding-full auto 0 auto;
  width: 100%;
}

.side-track {
  /* 
    Since this will be removed from the flow of the page,
    we need to create a gap to the left of the main track
  */
  @include box-size-border-box;
  @include box-shadow(1px, 0px, 8px, 2px, rgba(25, 25, 25, 0.2));
  background-color: $blue-grey-50;
  position: fixed;
  opacity: 0;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
  width: $side-track-expanded-width-full;

  & > .inner-wrapper {
    width: 100%;
  }

  &.show { opacity: 1; }
}

.main-track {
  /* 
    Since the sidebar is removed from the flow of the page,
    we need to create a margin-based gap to compensate for the element size
  */
  @include transition(0.4s);
  margin-left: $side-track-expanded-width-full;
  overflow-y: scroll;
  height: calc(100vh - #{$navbar-height});
  opacity: 0;
  width: calc(100% - #{$side-track-expanded-width-full});

  & > .inner-wrapper {
    padding: 20px;
    margin: 0 auto;
    max-width: 1920px; width: 100%;

    &.dark-bg { @include jumbotron-background; background-color: #1774B5; }
    &.jcc { @include flex; @include justify-center; }
    &.full-width { max-width: 100%; }
    &.no-padding { padding: 0px !important; }
    &.bottom-spacer { margin-bottom: 100px; }
    &.top-spacer { margin-top: 40px; }
    &.box-shadow { @include box-shadow(0px, 2px, 3px, 1px, rgba(25, 25, 25, 0.4)); }
  }

  &.show {
    opacity: 1;
  }
}

@media (max-width: 2560px) {
  .projects-page-layout {
    margin-top: $projects-layout-navbar-padding-2560;
  }

  .main-track {
    margin-left: $side-track-expanded-width-2560;
    width: calc(100% - #{$side-track-expanded-width-2560});

    & > .inner-wrapper {
      max-width: 1440px;
    }
  }

  .side-track {
    min-width: $side-track-expanded-width-2560;
    max-width: $side-track-expanded-width-2560;
  }
}

@media (max-width: 1920px) {
  .projects-page-layout {
    margin-top: $projects-layout-navbar-padding-1920;
  }

  .main-track {
    margin-left: $side-track-expanded-width-1920;
    width: calc(100% - #{$side-track-expanded-width-1920});

    & > .inner-wrapper {
      max-width: 980px;
    }
  }

  .side-track {
    min-width: $side-track-expanded-width-1920;
    max-width: $side-track-expanded-width-1920;
  }
}


@media (max-width: 1440px) {
  .projects-page-layout {
    @include flex-column;
    margin-top: $projects-layout-navbar-padding;
  }

  .side-track {
    min-width: $side-track-expanded-width-1440;
    max-width: $side-track-expanded-width-1440;
  }

  .main-track {
    margin-left: $side-track-expanded-width-1440;
    width: calc(100% - #{$side-track-expanded-width-1440});

    & > .inner-wrapper {
      max-width: 700px;
    }
  }
}

@media (max-width: 1024px) {
  .side-track {
    min-width: $side-track-expanded-width-1024;
    max-width: $side-track-expanded-width-1024;
  }

  .main-track {
    margin-left: $side-track-expanded-width-1024;
    width: calc(100% - #{$side-track-expanded-width-1024});

    & > .inner-wrapper {
      max-width: 640px;
    }
  }
}

/* Responsive Work - Move this to individual files as we grow */
/* Viewport, right after iPad */
@media (max-width: 1023px) {
  
  .projects-page-layout {
    @include flex-column;
    margin-top: $projects-layout-navbar-padding;
  }
  
  .main-track {
    background-color: $blue-grey-50;
    width: 100%;
    // margin-left: 0;
    margin: 0 auto;
  }

  .side-track {
    @include flex;
    background-color: $blue-grey-100;
    position: relative;
    height: 100px;
    overflow-x: scroll;
    min-width: 100%;

    & > .inner-wrapper {
      border-left: 2px solid $amber-400;
      border-right: 2px solid $amber-400;
      min-width: $side-track-expanded-width-1440;
      max-width: $side-track-expanded-width-1440;
    }
  }
}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {
  .main-track {
    @include order(1);
  }

  .side-track {
    @include order(2);
  }
}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
  .main-track {
    @include order(1);
  }
  
  .side-track {
    @include order(2);
    min-width: $side-track-expanded-width;
    max-width: $side-track-expanded-width;

    & > .inner-wrapper {
      min-width: $side-track-item-mobile-small;
      max-width: $side-track-item-mobile-small;
    }
  }
}
