.most-recent-wrapper {
  @include transition(0.2s);
  color: $blue-grey-900;
  text-decoration: none;
}

.most-recent-wrapper > h4 {
  @include transition(0.2s);
  font-size: 24px; font-weight: 900;
  margin: 6px 0;
  &:hover { color: $blue-grey-900; }
}

.most-recent-wrapper > .image {
  @include transition(0.2s);
  background-color: $grey-900 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  opacity: 1;
  height: 174px;

  &:hover {
    @include box-shadow(1px, 1px, 4px, 0.2px, rgba(25, 25, 25, 0.8));
    opacity: 0.8;
  }
}

.most-recent-wrapper > .title {
  @include transition(0.2s);
  @include flex;
  font-weight: 600;
  margin: 6px 0;
  &:hover { color: $amber-900; }
}